@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }
  body {
    height: 100%;
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-color: #f2f2f2;
  }
  .description-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
  }
  .discription-left {
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-width: 460px;
    margin-right: 70px;
    /* text-align: right; */
    align-items: end;
  }
  .description-title {

    font-weight: 400;
    font-size: 64px;
    line-height: 65px;
    color: #42403D;
  }
  .button {
    display: inline-block;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* text-align: center; */
    color: #5C832F;
    background-color: #FFFFFF;
    border: 1px solid #5C832F;
    border-radius: 2px;
    text-decoration: none;
    /* text-transform: uppercase; */
    cursor: pointer;
  }
  .button::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 16px;
    
  }
  .description-subtitle {
    max-width: 250px;
    margin: 0;
    padding: 16px 100px 428px 17px;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    background: #42403D linear-gradient(180deg, rgba(134, 209, 47, 0.86) 0%, rgba(92, 131, 47, 0) 100%);
    box-sizing: border-box;
  }
  .description-text {
    max-width: 460px;
    margin-left: 70px;
    padding: 108px 5px 10px 5px;

  }